<h2>Expense Tracker notification</h2>
<h4> - Budget critical in: <%= @expense_list.name %></h4>
<p>
  <i>The budget in this list reached a critical level.</i>
</p>
<p>Expenses in <%= current_month_name.downcase %> so far: <i><%= @expense_list.sum_of_exp_in_month(current_month, current_year) %>€</i></p>
<p>Money left in <%= current_month_name.downcase %>: <i><%= @expense_list.euros_left_in_month(current_month, current_year) %>€</i></p>
<p><i>Anything strange happening here? <%= link_to 'Click here', expense_list_url(@expense_list) %> to see what you've spent!</i></p>
