<h3>Expense Tracker notification - list attributes changed in <%= @expense_list.name %></h3>

<ul>
  <li>Name: <%= @expense_list.name %></li>
  <li>Budget: <%= @expense_list.budget_in_euro %>€</li>
  <li>Description: <%= @expense_list.description %></li>
  <li>Threshold: <%= @expense_list.crit_threshold %></li>
</ul>

<%= link_to 'Click here', edit_expense_list_url(@expense_list) %> in case these settings are not correct

<p>
  Greetings,
  your expense tracker
</p>
