<!-- DEFINE USER STATS MODAL -->
<div class='modal fade' id='user_stats_modal'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class='modal-title'>User expenses stats for '<%= expense_list.name %>'</h4>
      </div>
      <div class='modal-body'>
          The following table lists the sums of expenses by user <small><%= "(#{simple_date(expense_list.created_at)} - #{simple_date(Date.today)})" %></small>
          <table class='table table table-striped table-bordered table-condensed user-stats-table' cellspacing="0">
            <thead class="month-row">
              <tr>
                <th>Who</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% expense_list.expenses_in_list_by_user.map do |user, expenses| %>
              <tr>
                <b></b>:
                <td><%= User.find(user).name %></td>
                <td><%= expenses.map(&:expenses_in_euro).reduce(&:+) %>€</td>
              </tr>
              <% end %>
              <tr class="monthly-totals-row">
                <td>Sum</td>
                <td><b><%= expense_list.total_expenses_in_list%>€</b></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
