- @expenses.each do |year, month|
  %h3= year
  - month.each do |month, expenses|
    .table_placeholder
    %h4= month_name(month)
    %table{class: 'table table table-striped table-bordered table-condensed expense-table', cellspacing: "0"}
      %thead{class: 'month-row'}
        %th{class: 'hidden-xs-up'}
        %th{class: 'col-md-1'} Date
        %th{class: 'col-md-1'} Where
        %th{class: 'col-md-1'} Who
        %th{class: 'col-md-1'} How much
        %th{class: 'col-md-1'} Cash pool
      %tbody
      - expenses.each do |expense|
        %tr
          %td{class: 'col-md-1'}
            = link_to '', edit_expense_list_expense_path(@expense_list, expense), {class: 'btn btn-default btn-xs glyphicon glyphicon-pencil glyph-button'}
            = link_to '', expense_list_expense_path(@expense_list, expense), {method: 'delete', data: { confirm: 'Bist du dir sicher, dass du den Eintrag löschen willst?' }, class: 'btn btn-default btn-xs glyphicon glyphicon-trash glyph-button'}
            = link_to '', '#', {'data-toggle' => 'modal','data-target' => "#modal-#{expense.id}", class: 'btn btn-default btn-xs glyphicon glyphicon-search glyph-button'}
            = render partial: 'shared/modals/expense_comment_modal', locals: {expense: expense}
          %td= expense.expense_date.strftime("%d.%m")
          %td= expense.where
          %td= expense.user && expense.user.name || '???'
          %td= "#{expense.expenses_in_euro}€"
          %td= expense.cash_desk

      %tr
        %td{class: 'monthly-totals-row', colspan: '4'}
        %td{class: 'monthly-totals-row', id: 'sum_of_exp_in_month'}
          = "#{expense_list.sum_of_exp_in_month(month, year)}€"
        %td{class: 'monthly-totals-row', colspan: '1'}
      - if expense_list.budget_in_euro
        %tr
          %td{class: 'monthly-totals-row', colspan: '4'}
          %td{class: 'monthly-totals-row euros_left_in_month'}
            %b= "#{expense_list.budget_in_euro - expense_list.sum_of_exp_in_month(month, year)}€ left in month"
          %td{class: 'monthly-totals-row', colspan: '4'}
