- @expenses.each do |year, month|
  %h3= year
  - month.each do |month, expenses|
    .table_placeholder
    %h4= month_name(month)
    %table.table.table-striped.table-bordered.table-condensed.expense-table{ cellspacing: '0' }
      %thead.month-row
        %th.hidden-xs-up
        %th.col-md-1 Date
        %th.col-md-1 Where
        %th.col-md-1 Who
        %th.col-md-1 How much
        %th.col-md-1 Cash pool
      %tbody
      - expenses.each do |expense|
        = render partial: 'expenses/expense', locals: { expense: expense, expense_list: @expense_list }

      %tr
        %td.monthly-totals-row{ colspan: '4'}
        %td.monthly-totals-row#sum_of_expenses_in_month
          = "#{expense_list.sum_of_expenses_in_month(month, year)}€"
        %td.monthly-totals-row{ colspan: '1'}
      - if expense_list.budget_in_euro
        %tr
          %td.monthly-totals-row{ colspan: '4'}
          %td.monthly-totals-row
            %span#euros_left_in_month= continous_account_balance_for(expense_list, month, year)
            € left in month
          %td.monthly-totals-row{ colspan: '4'}
