- @expenses.each do |year, month|
  %h3= year
  - month.each do |month, expenses|
    %h4= month_name(month)
    %table.table.table-condensed.expense-table{ cellspacing: '0' }
      %thead.month-row
        %th.hidden-xs-up
        %th.col-md-1 Date
        %th.col-md-1 Where
        %th.col-md-1 Who
        %th.col-md-1 How much
        %th.col-md-1 Cash pool
      %tbody
      - expenses.each do |expense|
        = render partial: 'expenses/expense', locals: { expense: expense, expense_list: @expense_list }

      %tr.spacer-row
        %td{ colspan: '5'}
      %tr
        %td.monthly-totals-row.description{ colspan: '4'}
          Total expenses in month
        %td.monthly-totals-row.value#sum_of_expenses_in_month
          = "#{expense_list.sum_of_expenses_in_month(month, year)}€"
        %td.monthly-totals-row{ colspan: '1'}
      - if expense_list.budget_in_euro
        - balance = continous_account_balance_for(expense_list, month, year)
        %tr
          %td.monthly-totals-row.description{ colspan: '4'}
            Money left in account
          %td.monthly-totals-row.euros_left_in_month
            %span.value
              = balance.to_s + "€"
          %td.monthly-totals-row{ colspan: '4'}
