.col-xs-12.col-lg-3.col-md-4{ id: "expense_list_#{expense_list.id}" }
  .panel.panel-default
    .panel-heading
      %h4= expense_list.name
      %ul.nav.nav-pills
        %li.dropdown
          %a.dropdown-toggle.glyphicon.glyphicon-cog{ 'data-toggle': 'dropdown', href: '#expense_list_settings' }
          %ul.dropdown-menu
            %li= link_to 'Modify list', edit_expense_list_path(expense_list), remote: true
            %li= link_to 'Delete list', expense_list_path(expense_list), method: 'delete', data: { confirm: 'Bist du dir sicher, dass du den Eintrag löschen willst?' }, remote: true
      -# = link_to expense_list.name, expense_list_path(expense_list)
    .panel-body
      .description
      %p
      - if expense_list.description.present?
        = expense_list.description
      - else
        %i
          No description supplied, add one
          =link_to 'here', edit_expense_list_path(expense_list)
      .email-notification.text-muted
        (Email notifications enabled)
    .panel-footer
      = "Expenses in #{current_month_name}:"
      %b
        = "#{expense_list.sum_of_exp_in_month(current_month, current_year)}€"
      = "(#{expense_list.euros_left_in_month(current_month, current_year)}€ left)" if expense_list.budget_in_euro
