<%= form_for @expense_list do |f| %>
  <fieldset class="form-group row #{"has-danger" if f.object.errors.include?(:name)}">
    <div class='col-xs-3'>
      <%= f.text_field :name, {class: 'form-control', placeholder: 'List name'} %>
    </div>
    <div class='col-xs-3'>
      <span class='help-block'>
      <%= f.object.errors[:name].join(', ') %>
      </span>
    </div>
  </fieldset>

  <fieldset class="form-group row #{"has-danger" if f.object.errors.include?(:description)}">
    <div class='col-xs-3'>
      <%= f.text_area :description, {class: 'form-control', placeholder: 'This is a list for...'} %>
    </div>
    <div class='col-xs-3'>
      <span class='help-block'>
      <%= f.object.errors[:description].join(', ') %>
      </span>
    </div>
  </fieldset>

  <fieldset class="form-group row #{"has-danger" if f.object.errors.include?(:budget_in_euro)}">
    <div class='col-xs-3'>
      <%= f.text_field :budget_in_euro, {class: 'form-control', placeholder: 'Monthly budget in € (optional)'} %>
    </div>
    <div class='col-xs-3'>
      <span class='help-block'>
      <%= f.object.errors[:budget_in_euro].join(', ') %>
      </span>
    </div>
  </fieldset>

  <fieldset class="form-group row}">
      <%= f.check_box :notifications_enabled %>
      Enable email notifications for list
  </fieldset>

  <fieldset class="form-group row}">
      <%= f.number_field :notifications_enabled, in: 1.0..99.0 %>
      <%= link_to 'Threshold', '#', {'data-toggle' => 'modal', 'data-target' => "#thresh_info"}%> for alert messages
      <%= render partial: 'shared/modals/common_modal', locals: { modal_id: 'thresh_info',
                                                                  modal_title: "Whats a 'Threshold'?",
                                                                  modal_body: 'Set this if you want to get notified, if the amount of money you
                                                                  have available is LOWER then x % of the budget. Example: Automatically send a
                                                                  notification if you have less than 15% available this month. Requires a budget.'} %>
  </fieldset>

  <div class='row'>
    <div class='col-xs-2'>
      <%= f.submit 'Submit', class: 'btn btn-primary btn-success' %>
    </div>
    <div class='col-xs-1'>
      <%= link_to 'Back', expense_lists_path, class: 'btn btn-primary btn-danger' %>
    </div>
  </div>
<% end  %>
