<div class='container-fluid'>
  <div class='panel-group' id='expense-list-panel-group'>
    <% if @expense_lists.any? %>
    <div class="row">
      <% @expense_lists.each do |expense_list| %>

      <!-- DEFINE SHAPE OF ONE PANEL -->
      <div class='col-xs-12 col-lg-3 col-md-4'>
        <div class='panel panel-default'>
          <%= link_to expense_list_path(expense_list) do %>
          <div class='panel-heading'>
            <%= expense_list.name %>
          </div>
          <% end %>
          <div class='panel-body'>
            <p class='text-muted'>
              <%= expense_list.description %>
            </p>
          </div>
          <div class='panel-footer'>
            Expenses in <%= "#{current_month_name}" %>:
            <b><%= "#{sum_of_exp_in_month(expense_list, current_month, current_year)}€" %></b>
            <%= "(#{euros_left_in_month(expense_list, current_month, current_year)}€ left)" if expense_list.budget_in_euro %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% else %>
    <p>There is no expense list yet...</p>
    <% end %>
  </div>
  <div class="row">
    <div class='col-xs-12 col-lg-3 col-md-4'>
      <%= link_to "Create new expense list", new_expense_list_path, {class: 'btn btn-default btn-primary btn-success', id: 'asd'} %>
    </div>
  </div>
</div>
