.container-fluid
  %h2= @expense_list.name
  %p.text-muted= @expense_list.description
  %p.text-muted
    %i
      Total expenses in list: #{@expense_list.total_expenses_in_list}
  %p.text-muted.small
    = link_to 'Download as CSV', expense_list_path(@expense_list, format: "csv")
    |
    = link_to 'Show user stats', '', data: { 'toggle' => 'modal', 'target' => "#user_stats_modal" }
    = render partial: 'user_stats_modal'

.container-fluid
  .row
    .col-xs-12
      = link_to 'Create new expense', new_expense_list_expense_path(@expense_list), remote: true, class: 'btn btn-success btn-xs create_new_expense_button', data: { toggle: 'modal', target: '#expense_form_modal' }
    = render partial: 'expenses/expense_form_modal'

.container-fluid#expenses_in_list
  - if @expenses
    = render partial: 'expenses_in_list', locals: { expense_list: @expense_list }
