%nav.navbar.navbar-default{ :role => 'navigation' }
  .navbar-header
    %button.navbar-toggle{ 'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', :type => 'button' }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  = link_to 'ExpenseList Tracker', '', class: 'navbar-brand'
  %ul.nav.navbar-nav.navbar-left
  %ul.nav.navbar-nav.navbar-right
    - if session[:user_id]
      %li.nav-item
        = link_to 'Todo Lists', todo_lists_path
      %li.nav-item
        = link_to 'Expense lists', expense_lists_path
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle.glyphicon.glyphicon-user.glyph-button{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#', :role => 'button' }
          %span.caret
        .dropdown-menu
          = link_to 'User settings', edit_user_path(session[:user_id]), class: 'btn dropdown-item'
          %br/
          = link_to 'Logout', logout_path, class: 'btn dropdown-item'
    - else
      %li.nav-item.active
        = link_to 'Login', login_path
